@font-face {
  font-family: Gothic-BlackItalic;
  src: url('./assets/fonts/Gotham-BlackItalic.otf');
}

@font-face {
  font-family: Gothic-Bold;
  src: url('./assets/fonts/Gotham-Bold.otf');
}

@font-face {
  font-family: Gothic-BoldItalic;
  src: url('./assets/fonts/Gotham-BoldItalic.otf');
}

@font-face {
  font-family: Gothic-Book;
  src: url('./assets/fonts/Gotham-Book.otf');
}

@font-face {
  font-family: Gothic-BookItalic;
  src: url('./assets/fonts/Gotham-BookItalic.otf');
}

@font-face {
  font-family: Gothic-Light;
  src: url('./assets/fonts/Gotham-Light.otf');
}

@font-face {
  font-family: Gothic-Medium;
  src: url('./assets/fonts/Gotham-Medium.otf');
}

@font-face {
  font-family: Gothic-MediumItalic;
  src: url('./assets/fonts/Gotham-MediumItalic.otf');
}

@font-face {
  font-family: Gothic-Thin;
  src: url('./assets/fonts/Gotham-Thin.otf');
}

@font-face {
  font-family: Gothic-ThinItalic;
  src: url('./assets/fonts/Gotham-ThinItalic.otf');
}

@font-face {
  font-family: Gothic-Ultra;
  src: url('./assets/fonts/Gotham-Ultra.otf');
}

@font-face {
  font-family: Gothic-UltraItalic;
  src: url('./assets/fonts/Gotham-UltraItalic.otf');
}

@font-face {
  font-family: Gothic-XLight;
  src: url('./assets/fonts/Gotham-XLight.otf');
}

@font-face {
  font-family: Gothic-XLightItalic;
  src: url('./assets/fonts/Gotham-XLightItalic.otf');
}

@font-face {
  font-family: SS_Nickson_Six;
  src: url('./assets/fonts/SS_Nickson_Six.otf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* min-height: 90vh; */
}

.form {
  display: flex;
  flex-direction: column;
}

.form,
.userForm {
  justify-content: center;
  align-items: center;
}

.userForm .col-6,
.userForm .col-12,
.userForm .col-md-4 {
  padding-left: 6px;
  padding-right: 6px;
  margin: 6px 0;
}

.userForm input {
  border: none;
  border-radius: 5px;
  padding: 4px;
  font-size: 1.5rem;
  width: 100%;
}

.userForm label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}

.userForm input.input-full {
  flex: 0 0 95%;
  margin: 5px;
}

.userForm input.input-half {
  flex: 0 0 45%;
  margin: 5px;
}

.userForm input.input-third {
  flex: 0 0 33%;
  margin: 5px;
}

.userForm input::placeholder {
  color: #ededed;
  text-transform: uppercase;
  font-family: 'SS_Nickson_Six';

}

ul.nav-tabs {
  display: none;
}

.wrapper {
  background-image: url('./assets/images/background.png');
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

.joke-container {
  display: flex;
  justify-content: flex-start;
  margin: 200px;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 980px;
}

.joke-container h1 {
  font-size: 95px;
  color: white;
  font-family: 'SS_Nickson_Six';
  text-shadow: 5px 5px #5000d5;
  -webkit-text-stroke: 1px #5000d5;
}

.joke-container h2 {
  color: #5000d5;
  font-family: 'SS_Nickson_Six';
  font-size: 45px;
}

.joke-container h3 {
  color: #5000d5;
  font-family: 'SS_Nickson_Six';
  font-size: 35px;
}

.joke-container p {
  color: #5000d5;
  font-family: Gothic-Medium;
}

.joke-container button {
  background-color: white;
  border: 2px solid #5000d5;
  color: #5000d5;
  padding: 0.5rem 3rem;
  border-radius: 5px;
  font-family: 'SS_Nickson_Six';
  font-size: 25px;
  margin: 2rem 0;
  width: auto;
}

.joke-container button.reverse {
  background-color: #5000d5;
  border: 2px solid white;
  color: white;
  width: auto;
}

.joke-container a {
  color: #5000d5;
  font-family: 'SS_Nickson_Six';
  font-size: 14px;
}